@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = red



a
  text-decoration none


body
  font-size 16px
  font-family: 'Varela Round'  sans-serif

figure 
  margin 0

img
  vertical-align top
  


.container
  font-size 0px
  padding 1.4rem
  text-align center



.border-bottom
  border-bottom 1px solid gris_claro


//buttons

.button-menu
  position absolute
  top 50%
  margin-top -10px
  left .5em
  color gray


.name
  color gris_oscuro

.author
  color gris_claro


.padding-tb
  padding 1em 0
  
.menu
  display none

.header
  height 3.5em
  position relative
  .title  
    font-size 1.1em
    text-align center
    line-height 3.5em

.playing
    
    &.small
        width 20em
  
.center-block
    margin 0 auto
    
.center-text
    text-align center
    
.right-text
    text-align right
    

.relative 
  position relative
  
.actions
   position absolute
   bottom 0
   right 0
   left 0
   background-color rgba(0,0,0,.3)
   
   
.action
    color white
    margin-right .5em
    font-size: 1.2em
    &:last-child
      margin-right 0
    &.gray
        color gris_oscuro


.song
  width 128px
  display inline-block
  font-size 1rem
  margin-right 1em
  margin-bottom 1em
  text-align left
  p 
    margin .5em 0
  &:nth-child(even)
    margin-right 0    
    
.padding
  padding 1em
  

.progress
  margin-top 1em 0;
  position relative
  
    
  .min
  .max
    font-size .8em
    position absolute
    top -6px
    right 0
    
  .min
    left 0
  .max
    right 0
    
    

  .total  
      height 5px
      background gris_claro
      border-radius 5px
      margin 0 auto
      width 75%
      
      
  .state
      height 5px;
      width 30%
      background red
      border-radius 5px
      position relative
  .circle
      width 10px
      height 10px
      background gris_oscuro
      border-radius 50%
      position absolute
      right 0
      top -3px

.inline-block
  display inline-block
  

  /* mi primer media query :) */
    
@media screen and (min-width 480px)
 
  .song
      &:nth-child(even)
          margin-right 1em  

  .playing
      .medium
          width auto
          

    